
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f172a;
  color: #e2e8f0;
  padding: 30px;
}


.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255,255,255,0.1);
}


h2 {
  margin-bottom: 20px;
  font-weight: 600;
}


a.btn, input[type="submit"] {
  background: #3b82f6;
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

a.btn:hover, input[type="submit"]:hover {
  background: #2563eb;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table tr th {
  background: #334155;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}

table tr td {
  background: #1e293b;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #475569;
}

img {
  border-radius: 10px;
  object-fit: cover;
  
}


form label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
}

form input, form select {
  width: 100%;
  padding: 8px 10px;
  margin-top: 5px;
  border: 1px solid #475569;
  background: #0f172a;
  color: white;
  border-radius: 6px;
}


.profile-img {
  width: 150px;       
  height: 150px;
  border-radius: 50%; 
  object-fit: cover;  
  display: block;
  margin: 10px auto;  
  border: 3px solid #3b82f6; 
}
